/* Layout */

/* The designs were created to the following widths: */

$Mobile: 375px;
$Desktop: 1440px;

/* Primary Colors */

$Very-dark-blue: hsl(233, 47%, 7%);
$Dark-desaturated-blue: hsl(244, 38%, 16%);
$Soft-violet: hsl(277, 64%, 61%);

/* Neutral Colors */

$White: hsl(0, 0%, 100%);
$Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
$Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

/* Typography */

/* Body Copy */

$Font-size: 15px;

/* Font */

$Family1: "Inter", sans-serif; /* [Inter](https://fonts.google.com/specimen/Inter) */
$Weight-1: 400;
$Weight-2: 700;

$Family2: "Lexend Deca", sans-serif; /* [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca) */
